@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

/* Mobile */
body {
    background: black url(../images/back-phone.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

main {
    background-color: #ffffff80;
    width: 90vw;
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

img {
    display: block;
    margin: auto;
}

img#tablet,
img#print,
img#pc,
img#tv {
    display: none;
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 992px) {
    body {
        background: black url(../images/back-tablet.jpg) no-repeat;
    }

    img#tablet {
        display: block;
    }

    img#phone,
    img#print,
    img#pc,
    img#tv {
        display: none;
    }
}

/* Impressora */
@media print {
    body {
        background: black url(../images/back-print.jpg) no-repeat;
        font-family: 'Courier New', Courier, monospace;
    }

    img#print {
        display: block;
    }

    img#phone,
    img#pc,
    img#tablet,
    img#tv {
        display: none;
    }
}

/* Desktop */
@media screen and (min-width: 992px) and (max-width: 1200px) {
    body {
        background: black url(../images/back-pc.jpg) no-repeat;
    }

    img#pc {
        display: block;
    }

    img#phone,
    img#print,
    img#tablet,
    img#tv {
        display: none;
    }
}

/* Grandes telas (TVs) */
@media screen and (min-width: 1200px) {
    body {
        background: black url(../images/back-tv.jpg) no-repeat;
    }

    img#tv {
        display: block;
    }

    img#phone,
    img#print,
    img#tablet,
    img#pc {
        display: none;
    }
}