@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/tela-home.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}