@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html,
body {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
}

main {
    height: 100vh;
    position: relative;
}

section#cellphone {
    position: absolute;
    height: 627px;
    width: 311px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../images/frame-iphone.png);
    background-repeat: no-repeat;
}

iframe#screen {
    position: relative;
    top: 79px;
    left: 21px;
    width: 269px;
    height: 473px;
}

section#social-media {
    display: block;
    margin: auto;
    width: fit-content;
}

section#social-media img {
    width: 50px;
    height: 50px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 1px 1px 5px #00000040;
}