@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: darkgray;
}

header h1 {
    padding: 10px;
    text-align: center;
}

menu {
    display: none;
}

menu ul {
    list-style-type: none;
}

menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: gray;
    color: white;
    text-align: center;
    border-top: 1px solid darkgray;
}

menu a:hover {
    background-color: darkgray;
}

i#menu-icon {
    display: block;
    width: 100%;
    background-color: gray;
    color: white;
    text-align: center;
    padding: 10px;
    cursor: pointer;
}

i#menu-icon:hover {
    background-color: darkgray;
}

main {
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

main h2 {
    margin-bottom: 10px;
}

main p {
    margin-bottom: 10px;
    text-align: justify;
}

@media screen and (min-width: 758px) {
    menu {
        display: block;
    }

    menu li {
        display: inline-block;
    }

    i#menu-icon {
        display: none;
    }

    main {
        width: 60%;
    }
}