@charset "UTF-8";

* {
    margin: 10px;
    padding: 10px;
}

html {
    font-family: 'Courier New', Courier, monospace;
    line-height: 1.50em;
}

menu {
    display: none;
}

header {
    text-align: center;
}

main {
    text-align: justify;
}

article::after {
    content: 'Arquivo impresso a partir do site.';
}