@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background-color: darkgray;
    padding: 10px;
    margin-bottom: 10px;
}

header li {
    display: inline-block;
    margin-right: 20px;
    padding: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
}

main {
    text-align: justify;
}

main h1,
main p {
    margin-bottom: 10px;
}