@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color0: #c5ebd5;
    --color1: #83e1ad;
    --color2: #3ddc84;
    --color3: #2fa866;
    --color4: #1a5c37;
    --color5: #063d1e;

    --standard-font: "Roboto", sans-serif;
    --highlight-font: "Montserrat", sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

header,
nav {
    background-color: var(--color4);
    color: white;
}

h1,
h2,
h3 {
    font-family: var(--highlight-font);
}

header {
    min-height: 150px;
    text-align: center;
}

header h1 {
    padding-top: 40px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.250);
}

header p {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.250);
    margin-bottom: 20px;
}

nav>ul>li {
    display: inline-block;
    padding: 10px;
}

nav>ul>li>a {
    color: var(--color1);
    text-decoration: none;
    padding: 10px;
}

nav>ul>li:hover {
    background-color: var(--color3);
    transition: 0.5s;
}

body {
    font-family: var(--standard-font);
    background-color: var(--color0);
}

main {
    min-width: 320px;
    max-width: 800px;
    margin: auto;
    background-color: white;
    padding: 20px;
}

main h1 {
    color: var(--color5);
}

main h2,
h3 {
    color: var(--color4);
}

main p {
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: justify;
    line-height: 1.5em;
}

main strong,
main a {
    color: var(--color5);
    font-weight: bold;
}

main a:hover {
    color: var(--color4);
}

main img {
    display: block;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

img.img-small {
    max-width: 350px;
}

main div.video {
    background-color: var(--color5);
    padding: 20px;
    margin-right: -20px;
    margin-left: -20px;
    position: relative;
    padding-bottom: 56.5%;
}

div.video>iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    background-color: var(--color0);
}

aside>ul {
    list-style-position: inside;
    columns: 2;
}

footer {
    background-color: var(--color5);
    color: white;
    padding: 15px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: underline;
}