@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --default-font: Verdana, Geneva, Tahoma, sans-serif;
    --font-1: 'Passion One', cursive;
    --font-2: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--font-2);
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header>h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--font-1);
    font-size: 5vw;
}

header>p {
    padding-bottom: 50px;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;
}

section.normal-section {
    background-color: white;
    color: black;
}

section.image-section {
    background-color: #12121280;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 13px 0px #00000080;
    color: white;
}

section.image-section>p {
    background-color: #00000080;
    display: inline-block;
    padding: 5px;
}

section#section-image-1 {
    background-image: url("../images/background001.jpg");
}

section#section-image-2 {
    background-image: url("../images/background002.jpg");
}

footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}