@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}

html,
body {
    width: 100vw;
    height: 100vh;
    text-align: center;
    color: white;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
}