* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100%;
    padding: 20px;
}

main>h1 {
    text-align: center;
}

form {
    width: 60%;
    margin: auto;
    margin-top: 20px;
}

fieldset {
    margin-bottom: 10px;
    padding: 10px;
}

div.input {
    margin-bottom: 10px;
}

label {
    display: block;
}

label.label-checkbox,
label.label-radio {
    display: inline-block;
}

label.required::after {
    content: " *";
    color: darkred;
}

input {
    padding: 8px;
    width: 100%;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 8px;
}

input[type="color"] {
    width: 80px;
    height: 30px;
    cursor: pointer;
    padding: 2px;
}

input[type="file"] {
    cursor: pointer;
}

input[type="checkbox"],
input[type="radio"] {
    padding: 0px;
    width: auto;
    cursor: pointer;
}

input[type="submit"],
input[type="reset"] {
    margin-top: 20px;
    cursor: pointer;
}